<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tic Tac Toe</title>
  <link rel="stylesheet" href="/style.css" type="text/css">
  <script defer src="../node_modules/@fortawesome/fontawesome-free/js/all.js"></script> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
  <script type="text/javascript" src="helpers.js"></script>
</head>
<body>
  <div class="container">
      <div class="game_board">
        <h1>Welcome to Tic-Tac-Toe!</h1>
        <h4 id="turn_announcer"></h4>
        <div id="play_area" >
        </div>
        <h2 id="winner"></h2>
        <div class="buttons">
          <button onclick="make_new_game()" >New Game!</button>
          <div class="social-buttons">
            <a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/CD-Mackay/cansulta_game" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a class="share-button" href="https://twitter.com/share?ref_src=twsrc%5Etfw" target="_blank" >
              <i class="fab fa-twitter"> </i>
            </a>
          </div>
        </div>
      </div>  
    </div>
</body>
</html>